/* You can add global styles to this file, and also import other style files */
 @import "bootstrap.min.css";

body {
    font-family: Arial, "Helvetica Neue", SansSerif;
}

/* Alterações no navbar */
.bg-faded {
    background-color:#B0BEC5;
}

.navbar-brand {
    font-size: 1.80rem;
}

.nav-link {
    font-size: 1.25rem;
}

/*Fim -  Alterações no navbar */

.btn_novo {
    margin-bottom: 15px;

}

.ajustaPainel{
    margin-top: 15px;
    margin-bottom: 20px;

}

/* Alterando a cor do panel-header */

.card-header {
    background-color: #EEEEEE;
}

.card-title {
    margin-top: .75rem;
}

/* Fim - Alterando a cor do panel-header */

.ajustaMensagem{
    top: 15px;
    bottom: 0;
    padding-bottom: 0;

}



