/* You can add global styles to this file, and also import other style files */
 @import "bootstrap.min.css";


.btn_novo {
    margin-bottom: 15px;

}

.ajustaPainel{
    margin-top: 15px;
    margin-bottom: 20px;

}

.ajustaMensagem{
    top: 15px;
    bottom: 0;
    padding-bottom: 0;

}



